<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vinayak.blooddonner">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodDonner">
        <activity
            android:name=".Dev"
            android:exported="true"
            android:usesCleartextTraffic="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Reg" />
        <activity android:name=".Fragments.Blood_req" />
        <activity android:name=".Fragments.Bank_map" />
        <activity android:name=".Fragments.Profile" />
        <activity android:name=".Fragments.Hm_details" />

    </application>



</manifest>